---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE,SITE_DESCRIPTION } from '../consts';
---

<header>
	<div class="flex">
		<a href="/"><h2>{SITE_TITLE}</h2></a>
		<h5>{SITE_DESCRIPTION}</h5>
	</div>
	<nav>
		<HeaderLink href="/"><i class="fa-solid fa-house"></i> Home</HeaderLink>
		<HeaderLink href="/blog">Posts</HeaderLink>
		<HeaderLink href="/about">Author</HeaderLink>
		<HeaderLink href="https://github.com/mono-repository" target="_blank"><i class="fa-brands fa-github"></i> GitHub</HeaderLink>
	</nav>
</header>

<style>
	.flex{
		display: flex;
		align-items: center;
		
	}
	h2 {
		margin-top: auto;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		text-decoration: underline;
	}
	h5{
		color: rgb(113, 113, 113);
		padding-left: 1em;
		margin-top: auto;
	}
	header {
		margin: 0em 0 2em;
	}
	
	nav{
		display: flex;
		align-items: center;
	}
	nav li {
		margin-right: 10px;
	}

</style>
